.button {
  display: flex;
  margin: 0 auto;
  border-radius: 0.7em;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  font-family: "Nunito";
  font-size: 1.8em;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: -0.2rem 0.2rem 0.3rem rgb(0 0 0 / 8%), inset -0.1rem 0.1rem 0.1rem rgb(255 255 255 / 30%), inset 0.1rem -0.1rem 0.2rem rgb(0 0 0 / 15%);
}