.wrapper{
  display: flex;
  flex-flow: row-reverse;
  color: var(--primary-text);
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .wrapper{
    display: flex;
    flex-flow: row-reverse;
    color: var(--primary-text);
    justify-content: center;
    align-items: center;
  }
}