.imageWrap{
  object-fit: contain;
  width: 50%;
}

.contentWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 20%;
  font-family: 'Nunito';
  font-style: normal;
}

.contentWrapper > * {
  margin-bottom: 30px;
}

.contentWrapper > div > h1 {
  line-height: 1.1em;
  font-weight: 800;
  text-transform: uppercase;
}

.contentWrapper > div > p {
  line-height: 1.3em;
  font-size: 1.1rem;
  font-weight: 600;
}