.wrapper{
  background: var(--background);
  height: 100vh;    
}

.imageWrapper {
  height: 100vh; 
  width: auto;
  background: var(--alert); 
}

@media (max-width: 768px) {
  .imageWrapper {
    height: 50vh; 
    width: 100%;
    background: var(--alert); 
  }
}