.custom_radio{
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  width: auto;
}

.active_radio {
  padding: 5px 10px;
  background-color: var(--primary-mid);
  border-radius: 8px;
  width: auto;
}
.inactive_radio {
  padding: 5px 10px;
  background-color: var(--primary);
  border-radius: 8px;
  width: auto;
}
